@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    width: 100vw;
    height: 100vh;
    align-content: center;
    background-color: #ff7300;
}

.footer{
    background-color: #fff;
    width: 90vw;
    height: 60vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.top{
    display: flex;
    flex-direction: row;
    padding: 50px 50px 10px 50px;
}

.brand{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    gap: 1rem;
}

.brand-name{
    display: flex;
    flex-direction: column;
}

.brand-name h1{
    color: #222;
    font-size: 1.5rem;
}

.brand-name p{
    color: #ff7300;
    font-size: 0.9rem;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.about h3{
    font-size: 1rem;
    font-weight: 500;
}

.about p{
    font-size: 0.75rem;
    width: 80%;
}

.links{
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: start;
    justify-content: space-between;
}

.link{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link h3{
    font-size: 1rem;
    font-weight: 500;
}

.link ul{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.link ul li a{
    color: #333;
    font-weight: 550;
    font-size: 0.8rem;
}

.link ul li a:hover{
    color: #ff7300;
    transition: 0.3s ease all;
}

.links hr{
    width: 2px;
    height: 100%;
}

a{
    text-decoration: none;
}

.link3 p{
    color: #ff7300;
    font-size: 0.8rem;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 25%;
    padding: 30px;
    background-color: transparent;
    border-radius: 7px;
    margin-left: 20px;
}

.contact:hover{
    background-color: #f0f0f0;
    transition: 0.5s ease all;
}

.contact h4{
    border-bottom: 2px solid #ff7300;
    align-self: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.input-group{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #999;
}

.input-group input:focus{
    border: 1px solid #ff7300;
}

.input-group button{
    padding: 10px;
    background-color: #ff7300;
    border: none;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 20px;
    align-self: center;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.social h2{
    font-size: 1.3rem;
}


.bottom{
    background-color: #222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 150px;
}

.terms{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 0.7rem;
    color: #fff;
}

.terms h4{
    font-weight: 400;
}

.terms hr{
    background-color: #ff7300;
    border: none;
    color: #ff7300;
    width: 2px;
}

.copyright{
    font-size: 0.8rem;
    color: #fff;
    font-weight: 400;
}

